body{
  background: #000000;
  color: white;
}

.movieapp > .row {
  overflow-x: auto;
  flex-wrap: nowrap; 
}
/*.horizontal-scrollable > .row { 
	overflow-x: auto; 
	white-space: nowrap; 
} 
  
.horizontal-scrollable > .row > .col-xs-4 { 
	display: inline-block; 
	float: none; 
} */ 

 
/*.col-xs-4 { 
	color: white; 
	font-size: 24px; 
	padding-bottom: 20px; 
	padding-top: 18px; 
} */
.image-container{
  position: relative; 
  transition: transform 0.2s;
}


.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}
